In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

In [80]:
train_df = pd.read_excel("Data_Train.xlsx")
print(train_df.head())

       Airline Date_of_Journey    Source Destination                  Route  \
0       IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1    Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR
2  Jet Airways       9/06/2019     Delhi      Cochin  DEL → LKO → BOM → COK
3       IndiGo      12/05/2019   Kolkata    Banglore        CCU → NAG → BLR
4       IndiGo      01/03/2019  Banglore   New Delhi        BLR → NAG → DEL

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info   3897
1    05:50         13:15   7h 25m     2 stops         No info   7662
2    09:25  04:25 10 Jun      19h     2 stops         No info  13882
3    18:05         23:30   5h 25m      1 stop         No info   6218
4    16:50         21:35   4h 45m      1 stop         No info  13302

In [81]:
test_df  = pd.read_excel("Test_set.xlsx")
print(test_df.head())

             Airline Date_of_Journey    Source Destination            Route  \
0        Jet Airways       6/06/2019     Delhi      Cochin  DEL → BOM → COK
1             IndiGo      12/05/2019   Kolkata    Banglore  CCU → MAA → BLR
2        Jet Airways      21/05/2019     Delhi      Cochin  DEL → BOM → COK
3  Multiple carriers      21/05/2019     Delhi      Cochin  DEL → BOM → COK
4           Air Asia      24/06/2019  Banglore       Delhi        BLR → DEL

  Dep_Time  Arrival_Time Duration Total_Stops              Additional_Info
0    17:30  04:25 07 Jun  10h 55m      1 stop                      No info
1    06:20         10:20       4h      1 stop                      No info
2    19:15  19:00 22 May  23h 45m      1 stop  In-flight meal not included
3    08:00         21:00      13h      1 stop                      No info
4    23:55  02:45 25 Jun   2h 50m    non-stop                      No info

In [82]:
final_df = pd.concat([train_df, test_df]) 
print(final_df.tail())

                Airline Date_of_Journey   Source Destination            Route  \
2666          Air India       6/06/2019  Kolkata    Banglore  CCU → DEL → BLR
2667             IndiGo      27/03/2019  Kolkata    Banglore        CCU → BLR
2668        Jet Airways       6/03/2019    Delhi      Cochin  DEL → BOM → COK
2669          Air India       6/03/2019    Delhi      Cochin  DEL → BOM → COK
2670  Multiple carriers      15/06/2019    Delhi      Cochin  DEL → BOM → COK

     Dep_Time  Arrival_Time Duration Total_Stops Additional_Info  Price
2666    20:30  20:25 07 Jun  23h 55m      1 stop         No info    NaN
2667    14:20         16:55   2h 35m    non-stop         No info    NaN
2668    21:50  04:25 07 Mar   6h 35m      1 stop         No info    NaN
2669    04:00         19:15  15h 15m      1 stop         No info    NaN
2670    04:55         19:15  14h 20m      1 stop         No info    NaN

In [83]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [84]:
final_df['Date']=final_df["Date_of_Journey"].str.split('/').str[0]
final_df['Month']=final_df["Date_of_Journey"].str.split('/').str[1]
final_df['Year']=final_df["Date_of_Journey"].str.split('/').str[2]
print(final_df.head(2))

     Airline Date_of_Journey    Source Destination                  Route  \
0     IndiGo      24/03/2019  Banglore   New Delhi              BLR → DEL
1  Air India       1/05/2019   Kolkata    Banglore  CCU → IXR → BBI → BLR

  Dep_Time  Arrival_Time Duration Total_Stops Additional_Info   Price Date  \
0    22:20  01:10 22 Mar   2h 50m    non-stop         No info  3897.0   24
1    05:50         13:15   7h 25m     2 stops         No info  7662.0    1

  Month  Year
0    03  2019
1    05  2019

In [85]:
final_df["Date"]= final_df['Date'].astype(int)
final_df["Month"] = final_df['Month'].astype(int)
final_df["Year"] = final_df['Year'].astype(int)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int64
 12  Month            13354 non-null  int64
 13  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.5+ MB

In [86]:
final_df.drop('Date_of_Journey',axis=1, inplace=True)
print(final_df.head(1))

  Airline    Source Destination      Route Dep_Time  Arrival_Time Duration  \
0  IndiGo  Banglore   New Delhi  BLR → DEL    22:20  01:10 22 Mar   2h 50m

  Total_Stops Additional_Info   Price  Date  Month  Year
0    non-stop         No info  3897.0    24      3  2019

In [87]:
final_df["Arrival_Time"]=final_df["Arrival_Time"].str.split(' ').str[0]

In [88]:
final_df["Arrival_Hour"]=final_df["Arrival_Time"].str.split(':').str[0]
final_df["Arrival_Minute"]=final_df["Arrival_Time"].str.split(':').str[1]
print(final_df.head(1))

  Airline    Source Destination      Route Dep_Time Arrival_Time Duration  \
0  IndiGo  Banglore   New Delhi  BLR → DEL    22:20        01:10   2h 50m

  Total_Stops Additional_Info   Price  Date  Month  Year Arrival_Hour  \
0    non-stop         No info  3897.0    24      3  2019           01

  Arrival_Minute
0             10

In [89]:
final_df['Arrival_Hour']=final_df['Arrival_Hour'].astype(int)
final_df['Arrival_Minute']=final_df['Arrival_Minute'].astype(int)

In [90]:
final_df.drop('Arrival_Time',axis=1,inplace=True)

In [91]:
final_df["Dep_Hour"]=final_df["Dep_Time"].str.split(':').str[0]
final_df["Dep_Minute"]=final_df["Dep_Time"].str.split(':').str[1]
print(final_df.head(1))

  Airline    Source Destination      Route Dep_Time Duration Total_Stops  \
0  IndiGo  Banglore   New Delhi  BLR → DEL    22:20   2h 50m    non-stop

  Additional_Info   Price  Date  Month  Year  Arrival_Hour  Arrival_Minute  \
0         No info  3897.0    24      3  2019             1              10

  Dep_Hour Dep_Minute
0       22         20

In [92]:
final_df['Dep_Hour']=final_df['Dep_Hour'].astype(int)
final_df['Dep_Minute']=final_df['Dep_Minute'].astype(int)

In [93]:
final_df.drop('Dep_Time',axis=1,inplace=True)

In [94]:
final_df["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [95]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

print(final_df["Total_Stops"])

0       0.0
1       2.0
2       2.0
3       1.0
4       1.0
       ...
2666    1.0
2667    0.0
2668    1.0
2669    1.0
2670    1.0
Name: Total_Stops, Length: 13354, dtype: float64

In [96]:
final_df.drop('Route',axis=1, inplace=True)
print(final_df.head())

       Airline    Source Destination Duration  Total_Stops Additional_Info  \
0       IndiGo  Banglore   New Delhi   2h 50m          0.0         No info
1    Air India   Kolkata    Banglore   7h 25m          2.0         No info
2  Jet Airways     Delhi      Cochin      19h          2.0         No info
3       IndiGo   Kolkata    Banglore   5h 25m          1.0         No info
4       IndiGo  Banglore   New Delhi   4h 45m          1.0         No info

     Price  Date  Month  Year  Arrival_Hour  Arrival_Minute  Dep_Hour  \
0   3897.0    24      3  2019             1              10        22
1   7662.0     1      5  2019            13              15         5
2  13882.0     9      6  2019             4              25         9
3   6218.0    12      5  2019            23              30        18
4  13302.0     1      3  2019            21              35        16

   Dep_Minute
0          20
1          50
2          25
3           5
4          50

In [97]:
final_df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [98]:
final_df['duration_hour']=final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [99]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [100]:
final_df['duration_hour']=final_df['duration_hour'].astype('int')

In [101]:
final_df['duration_min']=final_df['Duration'].str.split(' ').str[1].str.split('m').str[0]
final_df['duration_min'] = final_df['duration_min'].fillna('0')
final_df['duration_min']=final_df['duration_min'].astype('int')
print(final_df['duration_min'].head())

0    50
1    25
2     0
3    25
4    45
Name: duration_min, dtype: int64

In [102]:
final_df["duration_hour"] = final_df["duration_hour"].astype(int)*60
print(final_df["duration_hour"].head())

0     120
1     420
2    1140
3     300
4     240
Name: duration_hour, dtype: int64

In [103]:
final_df["total_duration_mins"] = final_df["duration_hour"]+final_df["duration_min"]
print(final_df["total_duration_mins"])

0        170
1        445
2       1140
3        325
4        285
        ...
2666    1435
2667     155
2668     395
2669     915
2670     860
Name: total_duration_mins, Length: 13351, dtype: int64

In [104]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13351 entries, 0 to 2670
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airline              13351 non-null  object
 1   Source               13351 non-null  object
 2   Destination          13351 non-null  object
 3   Duration             13351 non-null  object
 4   Total_Stops          13350 non-null  float64
 5   Additional_Info      13351 non-null  object
 6   Price                10681 non-null  float64
 7   Date                 13351 non-null  int64
 8   Month                13351 non-null  int64
 9   Year                 13351 non-null  int64
 10  Arrival_Hour         13351 non-null  int64
 11  Arrival_Minute       13351 non-null  int64
 12  Dep_Hour             13351 non-null  int64
 13  Dep_Minute           13351 non-null  int64
 14  duration_hour        13351 non-null  int64
 15  duration_min         13351 non-null  int64
 16  total_duration_mins  13351 non-null  int64
dtypes: float64(2), int64(10), object(5)
memory usage: 1.8+ MB

In [105]:

final_df.drop('duration_min',axis=1,inplace=True)
final_df.drop('duration_hour',axis=1,inplace=True)
final_df.drop('Duration',axis=1,inplace=True)

In [106]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airline              13351 non-null  object
 1   Source               13351 non-null  object
 2   Destination          13351 non-null  object
 3   Total_Stops          13350 non-null  float64
 4   Additional_Info      13351 non-null  object
 5   Price                10681 non-null  float64
 6   Date                 13351 non-null  int64
 7   Month                13351 non-null  int64
 8   Year                 13351 non-null  int64
 9   Arrival_Hour         13351 non-null  int64
 10  Arrival_Minute       13351 non-null  int64
 11  Dep_Hour             13351 non-null  int64
 12  Dep_Minute           13351 non-null  int64
 13  total_duration_mins  13351 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 1.5+ MB

In [107]:
final_df["Airline"].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [118]:
labelencoder = LabelEncoder()
final_df['Airline']=labelencoder.fit_transform(final_df['Airline'])
final_df['Source']=labelencoder.fit_transform(final_df['Source'])
final_df['Additional_Info']=labelencoder.fit_transform(final_df['Additional_Info'])
final_df['Destination']=labelencoder.fit_transform(final_df['Destination'])

In [119]:
final_df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Dep_Hour,Dep_Minute,total_duration_mins
0,3,0,5,0.0,8,3897.0,24,3,2019,1,10,22,20,170
1,1,3,0,2.0,8,7662.0,1,5,2019,13,15,5,50,445

In [121]:
pd.get_dummies(final_df,columns=["Airline", "Source", "Destination"] ,drop_first = True)

,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minute,Dep_Hour,Dep_Minute,...,Airline_11,Source_1,Source_2,Source_3,Source_4,Destination_1,Destination_2,Destination_3,Destination_4,Destination_5
0,0.0,8,3897.0,24,3,2019,1,10,22,20,...,False,False,False,False,False,False,False,False,False,True
1,2.0,8,7662.0,1,5,2019,13,15,5,50,...,False,False,False,True,False,False,False,False,False,False
2,2.0,8,13882.0,9,6,2019,4,25,9,25,...,False,False,True,False,False,True,False,False,False,False
3,1.0,8,6218.0,12,5,2019,23,30,18,5,...,False,False,False,True,False,False,False,False,False,False
4,1.0,8,13302.0,1,3,2019,21,35,16,50,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1.0,8,NaN,6,6,2019,20,25,20,30,...,False,False,False,True,False,False,False,False,False,False
2667,0.0,8,NaN,27,3,2019,16,55,14,20,...,False,False,False,True,False,False,False,False,False,False
2668,1.0,8,NaN,6,3,2019,4,25,21,50,...,False,False,True,False,False,True,False,False,False,False
2669,1.0,8,NaN,6,3,2019,19,15,4,0,...,False,False,True,False,False,True,False,False,False,False
2670,1.0,8,NaN,15,6,2019,19,15,4,55,...,False,False,True,False,False,True,False,False,False,False